/* HEADER STYLE */

.container_main {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  height: 200px;
  width: 100%;
}

.main_item1 {
  display: flex;
  height: 200px;
  width: 15%;
}
.main_item2 {
  display: flex;
  height: 200px;
  width: 70%;
}
.main_item3 {
  display: flex;
  height: 200px;
  width: 15%;
}

.main_title {
  color: white;
  margin: auto;
  font-size: 150px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
