/* HEADER STYLE */

.container_main_h {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  height: 200px;
  width: 100%;
}

.main_item1_h {
  display: flex;
  height: 200px;
  width: 15%;
}
.main_item2_h {
  display: flex;
  height: 200px;
  width: 70%;
}

.main_title_h {
  margin-top: 10px;
  margin-right: 10px;
}

.main_item3_h {
  display: flex;
  height: 200px;
  width: 15%;
}
