{% extends "base.html" %}
{% load static %}



{% block page_name %} Search {% endblock page_name %}
{% block map_header %}
<link rel="stylesheet" href="{% static 'css/stores/search.css' %}">
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=kc3j4kbfd6"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE_vBFl9yeSHuMigXJAhhk4k5rpzhfxJc&callback=initMap&libraries=places&v=weekly"
    defer></script>
{% endblock map_header%}
{% block search-bar%}{% endblock search-bar%}
{% block content %}

<div class="wall_container">
    <div class="wall_search">
        <h2>Where to store?</h2>

        <div>
            <input class="search_box" id="search" type="text" placeholder="Search..." />
        </div>

        <form method="get" action="{% url 'stores:search' %}">
            <!-- {{form.city}} -->
            {{form.check_in}}
            {{form.store_type}}
            {{form.facilities}}
            <button>Search</button>

        </form>
    </div>

    <div class="wall_result">
        <div class="wall_result_card" id="wall_result_card">



            <div>
                <h3>Result</h3>
            </div>



        </div>

        <div class="wall_result_map">
            {% include 'partials/gmap.html'%}
        </div>

    </div>
</div>
{% endblock content %}